table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid;
}
th{
    background-color: #ddd;
}
th, td{
    border: 1px solid #ddd;
    padding: 8px;
    height: 20px;
    word-wrap: break-word;
}